<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap.min.css"> -->
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <h1>Register</h1>
    
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                

            <div class="form-group">
                <button id="action_btn" class="btn btn-info">send</button>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

</body>
</html>
